<a href="https://colab.research.google.com/github/sumedhats/PYTHON-/blob/main/DAY_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def title_case():
  f_name = input("enter first name").title()
  l_name = input("enter last name").title()
  print(f_name,l_name)
title_case()

enter first name sumedha
enter last name shivakumar
 Sumedha  Shivakumar

In [ ]:
def sumi(text=None):
  if text is None:
    text = input("text:")
  return text + text
sumi(text=None)

text: suvi

' suvi suvi'

In [ ]:
def title():
  text = input("text:")
  return text.title()
title()

text: viki

' Viki'

In [ ]:
output = sumi(title())
print(output)

text:sumi
SumiSumi

In [ ]:
def title_case():
  f_name = input("enter first name").title()
  l_name = input("enter last name").title()
  return f_name + " " + l_name
title_case()

enter first name suvi
enter last name gowda

' Suvi  Gowda'

In [ ]:
def leap_year(year):
  if year % 400 == 0:
    return True
  elif year % 100 == 0:
    return False
  elif year % 4 == 0:
    return True
  else:
    return False
leap_year(2000)

True

In [ ]:
def leap_year(year):
  ''' detects the leap year'''
  if year % 400 == 0:
    return True
  elif year % 100 == 0:
    return False
  elif year % 4 == 0:
    return True
  else:
    return False
leap_year(2000)

True

In [ ]:
leap_year.__doc__

' detects the leap year'

In [45]:
def calc():
  no1 = int(input("what is first no"))
  operation = input("pic the operation(*,/,-,+):")
  no2 = int(input("what is second no"))
  result = calculate(no1, no2, operation)
  print(result)
  return result
def calculate(no1, no2, operation):
  if operation == "*":
    return no1 * no2
  elif operation == "/":
    return no1 / no2
  elif operation == "-":
    return no1 - no2
  else:
    return no1 + no2
def cont(previous_result):
  cont_choice = input(f"type 'y' to continue calculation with {previous_result} or 'n' to start a new calculation 'z' to end : ")
  if cont_choice.lower() == "y":
    new_result = calc()
    cont(new_result)
    calc()
  elif cont_choice.lower() =="n":
      calc()
      hip=input("'c' for completed 'h' for continue")
      if hip == "c":
        print("completed")
      elif hip == "h":
        calc()
  else:
    print("great")
initial_result = calc()
cont(initial_result)

what is first no23
pic the operation(*,/,-,+):/
what is second no6
3.8333333333333335
type 'y' to continue calculation with 3.8333333333333335 or 'n' to start a new calculation 'z' to end : y
what is first no34
pic the operation(*,/,-,+):/
what is second no5
6.8
type 'y' to continue calculation with 6.8 or 'n' to start a new calculation 'z' to end : n
what is first no34
pic the operation(*,/,-,+):/
what is second no6
5.666666666666667
'c' for completed 'h' for continuec
completed
what is first no34
pic the operation(*,/,-,+):/
what is second no5
6.8